<aside class="aside  typeset  aside--{{ include.align | default: 'left' }}">

  {% if page.layout == "post" %}
    <section class="section  section--related-posts">
      {% include post-related.html %}
    </section>

  {% elsif page.layout == "page" or page.layout == "home" or page.layout == "blog" %}
    <section class="section  section--description">
      <h3>Contact & Links </h3>
      <p> {% include button.html text="CV 📄" link="https://xinyi-yan.github.io/assets/Xinyi_Yan_cv.pdf" color="#2f4f4f" %} {% include button.html text="Github" icon="github" link="https://github.com/Xinyi-Yan" color="#333333" %} {% include button.html text="Gitlab" link="https://gitlab.com/Xinyi-Yan" color="#FC6D27" %} {% include button.html text="Google Scholar 🎓" link="https://scholar.google.com/citations?user=tDrFRxgAAAAJ&hl=en&oi=ao" color="#0d94e7" %} {% include button.html text="Email Me 📧" link="mailto:yan.xinyi@outlook.com" %} </p>
      {% include nav-social.html %}
    </section>

  {% elsif page.layout == "category" %}
    <section class="section  section--category-index">
      <h3>Table of content</h3>
      {% include ecology_toc.md %}
    </section>

  
  {% endif %}

</aside>
